{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>뉴스20 그룹 분류 결과</strong>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <table class="table table-striped">
                <tr>
                    <td>테스트 데이터셋 인덱스</td>
                    <td style="text-align: center;">{{res.index}}</td>
                </tr>
                <tr>
                    <td>레이블(타겟 값)</td>
                    <td style="text-align: center;"><strong>{{res.label}}</strong></td>
                </tr>
                <tr>
                    <td>CountVectorizer + 로지스틱 회귀 결과</td>
                    <td style="text-align: center;"><strong>{{res.pred_cl}}</strong></td>
                </tr>
                <tr>
                    <td>TfidfVectorizer + 로지스틱 회귀 결과</td>
                    <td style="text-align: center;"><strong>{{res.pred_tl}}</strong></td>
                </tr>
                <tr>
                    <td>TfidfVectorizer + 서포트 벡터 머신 분류 결과</td>
                    <td style="text-align: center;"><strong>{{res.pred_ts}}</strong></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button class="btn btn-primary" 
                                onclick="location.href='/advanced/news20'">재실행</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-10">
            <small>{{news}}</small>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}