<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fontawesome-free-5.15.1-web/css/all.min.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}">
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    
    {% block st %}{% endblock %}
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">
            <img src={{url_for('static', filename='img/logo.jpg', q=mtime)}} alt="호서 로고" style="height: 30px;">
        </a>
    
        <ul class="navbar-nav nav-pills ml-5 mr-auto">
            <li class="nav-item mr-4">
                <a class="nav-link {% if menu.ho %}active{% endif %}" href="#" ><i class="fa fa-home"></i> 홈</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link {% if menu.da %}active{% endif %}" href="#"><i class="fas fa-chart-line"></i> 데이터분석</a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link {% if menu.ml %}active{% endif %}" href="#"><i class="fas fa-brain"></i> 머신러닝</a>
            </li>
        </ul>
        <div class="navbar-text fixed-right">
            {% block weather %}{% endblock %}
        </div>
    </nav>
    <nav class="navbar navbar-expand-sm bg-light justify-content-center fixed-bottom">
        <a class="navbar-text">Copyright © 2020 Hoseo Institute of Big Data</a>
    </nav>

    <div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-2">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if menu.se %}active{% endif %}" data-toggle="dropdown" href="#">서울특별시</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">공원</a>
                        <a class="dropdown-item" href="#">범죄</a>
                        <a class="dropdown-item" href="#">CCTV</a>
                    </div>
                </li>
                <div class="dropdown-divider"></div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if menu.co %}active{% endif %}" data-toggle="dropdown">코로나-19</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">전국</a>
                        <a class="dropdown-item" href="#">광역시도별</a>
                        <a class="dropdown-item" href="#">서울 자치구별</a>
                    </div>
                </li>
                <div class="dropdown-divider"></div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if menu.cg %}active{% endif %}" data-toggle="dropdown">카토그램</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">인구소멸위기</a>
                        <a class="dropdown-item" href="#">커피지수</a>
                    </div>
                </li>
                <div class="dropdown-divider"></div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if menu.cr %}active{% endif %}" data-toggle="dropdown">크롤링</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">시카고 샌드위치</a>
                        <a class="dropdown-item" href="#">주유소</a>
                    </div>
                </li>
                <div class="dropdown-divider"></div>
                <li class="nav-item">
                    <a class="nav-link {% if menu.st %}acvive{% endif %}"
                    href="/stock">주가예측</a>
                  </li>
                  <div class="dropdown-divider"></div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if menu.wc %}active{% endif %}" data-toggle="dropdown">워드 클라우드</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">경제 뉴스</a>
                        <a class="dropdown-item" href="#">스포츠 뉴스</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <h2>{% block subtitle %}{% endblock %}</h2>
            <hr>
            {% block content %}{% endblock %}
        </div>
    </div>
    </div>

</body>

</html>