{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>주가 예측</strong>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <form action="/regression/stock" method="POST">
                <table class="table table-borderless">
                    <tr class="d-flex">
                        <td class="col-2" rowspan="4" style="vertical-align: middle;"><label for="code">종목 코드</label></td>
                        <td class="col-2 mr-3" style="text-align: right;">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" id="market1" name="market" value="KS" checked>KOSPI
                            </label>
                        </td>
                        <td class="col-8">
                            <select class="custom-select custom-select-md" id="kospi" name="kospi_code">
                                {% for key, value in kospi.items() %}
                                    <option value="{{key}}">{{value}}</option>
                                {% endfor %}
                            </select>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-4 mr-3" style="text-align: right;">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" id="market2" name="market" value="KQ">KOSDAQ
                            </label>
                        </td>
                        <td class="col-8">
                            <select class="custom-select custom-select-md" id="kosdaq" name="kosdaq_code">
                                {% for key, value in kosdaq.items() %}
                                    <option value="{{key}}">{{value}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-4 mr-3" style="text-align: right;">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" id="market3" name="market" value="NY">NYSE
                            </label>
                        </td>
                        <td class="col-8">
                            <select class="custom-select custom-select-md" id="nyse" name="nyse_code">
                                {% for key, value in nyse.items() %}
                                    <option value="{{key}}">{{value}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-4 mr-3" style="text-align: right;">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" id="market4" name="market" value="NQ">NASDAQ
                            </label>
                        </td>
                        <td class="col-8">
                            <select class="custom-select custom-select-md" id="nasdaq" name="nasdaq_code">
                                {% for key, value in nasdaq.items() %}
                                    <option value="{{key}}">{{value}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-4" colspan="2"><label for="learn">학습 기간</label></td>
                        <td class="col-8" style="text-align: center;">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" id="learn" name="learn" value="1">1년
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" id="learn" name="learn" value="3">3년
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" id="learn" name="learn" value="5" checked>5년
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" id="learn" name="learn" value="10">10년
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr class="d-flex">
                        <td class="col-4" colspan="2"><label for="pred">예측 기간</label></td>
                        <td class="col-8" style="text-align: center;">
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" id="pred" name="pred" value="7">1주일
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" id="pred" name="pred" value="30" checked>1개월
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" id="pred" name="pred" value="90">3개월
                                </label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">실행</button>&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>		
            </form>
        </div>
        <div class="col-1"></div>
    </div> 
{% endblock %}
{% block additional_body %}
    <script>
        $('#kospi').on('input', () => {
            $('#market1')[0].checked = true
        });
        $('#kosdaq').on('input', () => {
            $('#market2')[0].checked = true
        });
        $('#nyse').on('input', () => {
            $('#market3')[0].checked = true
        });
        $('#nasdaq').on('input', () => {
            $('#market4')[0].checked = true
        });
        /* document.getElementById('kospi').addEventListener('input', function() {
            document.getElementById('market1').checked = true
            document.getElementById('market2').checked = false
        }, false);
        document.getElementById('kosdaq').addEventListener('input', function() {
            document.getElementById('market1').checked = false
            document.getElementById('market2').checked = true
        }, false); */
    </script>
{% endblock %}