{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>커피 지수</strong>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="/cartogram/coffee" method="POST" enctype="multipart/form-data">
                <table class="table table-borderless">
                    <tr>
                        <td><label for="item">항목</label></td>
                        <td>
                            <select class="custom-select" id="item" name="item">
                                {% for item in ['커피지수','이디야 매장수','스타벅스 매장수','커피빈 매장수','빽다방 매장수'] %}
                                    <option value="{{item}}">{{item}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>CSV 파일</td>
                        <td>
                            <div class="custom-file mb-3">
                                <input type="file" class="custom-file-input" id="csv" name="csv">
                                <label class="custom-file-label" for="csv">업로드할 파일 선택</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button type="submit" class="btn btn-primary">실행</button>&nbsp;&nbsp;&nbsp;
                            <button type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>		
            </form>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}
{% block additional_body %}
    <script>
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}