{% extends "base.html" %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
    <strong>군집화</strong>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="/cluster/cluster" method="post" enctype="multipart/form-data">
                <table class="table table-borderless">
                    <tr>
                        <td><label for="k_number">군집수</label></td>
                        <td><input type="text" class="form-control" id="k_number" name="k_number"></td>
                    </tr>
                    <tr>
                        <td><label for="csv">CSV파일</label></td>
                        <td>
                            <div class="custom-file mb-3">
                                <input type="file" class="custom-file-input" id="csv" name="csv">
                                <label class="custom-file-label" for="csv">업로드할 csv파일 선택</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button type="submit" class="btn btn-primary mr-2">실행</button>
                            <button type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}
{% block additional_body %}
    <script>
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}